<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<body>
    <th:block th:include="/_menu"></th:block>
    &nbsp;<form method="get" th:action="@{viewdispo}">
        <button type="submit" class="btn btn-primary">Gerer mes disponibilités</button>
    </form>
    <form method="get" th:action="@{viewrdv}">
        <button type="submit" class="btn btn-primary">Voir mes Rendez vous</button>
    </form>
    <br>
    <h1>Mes Infos:</h1>
    <h1 th:inline="text">Nom:       [[${pro.nom}]]</h1>
    <h1 th:inline="text">Prenom:    [[${pro.prenom}]]</h1>
    <h1 th:inline="text">Metier:    [[${pro.metier}]]</h1>
    <h1 th:inline="text">Adresse:   [[${pro.adresse}]]</h1>
    <h1 th:inline="text">Horaire:   [[${pro.horaire}]]</h1>
    <h1 th:inline="text">Telephone: [[${pro.tel}]]</h1>
    <form method="get" th:action="@{updateinfoPro}">
        <button type="submit" class="btn btn-primary">Mettre à jour mes infos</button>
    </form>
</body>