<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>


<body>
    <th:block th:include="/_menu"></th:block>
    <form method="get" th:action="@{viewrdvisitor}">
        <button type="submit" class="btn btn-primary">Gerer mes rendez vous</button>
    </form>
    <br>
    <h1><p style="font-family: cursive">Mes Infos:</p></h1>
    <br>
    <h1 th:inline="text">Nom: [[${pro.nom}]]</h1>
    <h1 th:inline="text">Prenom: [[${pro.prenom}]]</h1>
    <form method="get" th:action="@{updateinfoVisitor}">
        <button type="submit" class="btn btn-primary">Mettre à jour mes infos</button>
    </form>

</body>